body {
    margin: 0;
    background-color: #003C43;
    color: #E3FEF7;
}

.menu { 
    background-color: rgb(75, 32, 105);
    padding: 5px; 
}

.menu ul { 
    text-align: center; 
} 

.menu ul li { 
    list-style: none; 
    display: inline-block; 
    margin-left: 20px;}

.menu ul li a { 
    text-decoration: none; 
    color: #fff; }

.footer { 
    width: 100%; 
    background-color: rgb(75, 32, 105); 
    margin: 0; 
    padding: 5px 0;}

.footer p { 
    color: #fff; 
    text-align: center;}

.box1 {
    display: flex;
    border: 3px solid red;
}
.box1 img{
    size-adjust: 25%;
}
img{
    image-rendering: auto;
}
